{% extends 'base.html' %}
{% block show_photos %}
    <article class="blog-post">
        <header>
            {% for photo in photos %}
                <div class="lead-image">
                    <img src="{{ photo.img_url.url }}" alt="" class="img-responsive">

                </div>
                </header>
                <div class="body">
                    <div class="meta">
                        <i class="fa fa-user"></i>{{ photo.user }}<i
                            class="fa fa-calendar"></i>{{ photo.publish_date|date:'Y-m-d' }}<i
                            class="fa fa-comments"></i><span class="data"><a href="#comments">3 Comments</a></span>
                    </div>
                    <h2>{{ photo.desc }}</h2>
                </div>
                </article>
            {% endfor %}
    <aside class="comments" id="comments">
        <hr>

        <h2><i class="fa fa-comments"></i> {{ comments.count }} Comments</h2>
        {% for comment in comments %}
            <article class="comment">
                <header class="clearfix">
                    {#                <img src="img/avatar.png" alt="A Smart Guy" class="avatar">#}
                    <div class="meta">
                        <h3><a href="#"></a>{{ comment.user }}</h3>
                                    <span class="date">
                                        {{ comment.comment_date|date:'Y-m-d' }}
                                    </span>
                    </div>
                </header>
                <div class="body">
                    {{ comment.comment_text|safe }}
                </div>
            </article>
        {% endfor %}
    </aside>
    <aside class="social-icons clearfix">
        <h4>分享 </h4>
        <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google"></i></a>
    </aside>
    {% if user.is_authenticated %}
        <aside class="create-comment" id="create-comment">
            <hr>

            <h2><i class="fa fa-pencil"></i>评论</h2>

            <form action="{% url 'detail' %}" method="POST" accept-charset="utf-8">
                        <textarea rows="10" name="comment_text" id="comment-body" placeholder="内容"
                                  class="form-control input-lg"></textarea>
                <div class="buttons clearfix">
                    <button type="submit" class="btn btn-xlarge btn-clean-one">提交评论</button>
                </div>
            </form>
        </aside>
    {% else %}
        <a href="{% url 'login' %}"><i class="fa fa-pencil"></i>登录评论</a>
    {% endif %}
{% endblock %}