<footer>
    <div class="widewrapper footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget">
                    <h3><i class="fa fa-user"></i>关于</h3>
                    <p>首先欢迎你访问一照一话</p>
                    <p>一照一话可以为用户展示一张照片配一句话,让你们朋友能够知道你最近在做什么.或者你发现有趣的事也可以发出来分享给大家</p>
                    <p>已完成功能:上传图片,浏览图片,分页功能,用户注册,热门图片,最新图片,图片详细,评论,标签分类</p>
                    <p>未完成功能:是否喜欢,喜欢数...</p>
                </div>

                <div class="col-md-4 footer-widget">
                    <h3><i class="fa fa-pencil"></i>最新照片</h3>
                    <ul class="clean-list">
                        <li><a href="">美女诱惑</a></li>
                        <li><a href="">大自然的风景</a></li>
                        <li><a href="">社会百态,点赞点赞</a></li>
                    </ul>
                </div>

                <div class="col-md-4 footer-widget">
                    <h3><i class="fa fa-envelope"></i>联系我</h3>

                    <p>如果你有什么问题可以联系我哦</p>
                    {#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fugiat, cupiditate veritatis#}
                    {#                            excepturi tempore explicabo.</p>#}
                    <div class="footer-widget-icon">
                        <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="widewrapper copyright">
        Copyright 2017 . More Happiness <a href="#" target="_blank" title="一照一话">一照一话</a> -
        Collect from <a href="#" title="一照一话" target="_blank">一照一话</a>
    </div>
</footer>