{% extends 'base.html' %}
{% load staticfiles %}

{% block show_photos %}
    <div class="row">
        {% for photo in photos %}
            <div class="col-md-6 col-sm-6">
                <article class=" blog-teaser">
                    <header>
                        <img src="{{ photo.img_url.url }}" alt="" height="250" width="120">
                        <h3><a href="{% url 'detail' %}?id={{ photo.id }}">{{ photo.desc }}</a></h3>
                        <span class="meta">{{ photo.publish_date|date:'Y-m-d' }},By:{{ photo.user }}</span>
                        <span>{% for tag in photo.tag.all %}{{ tag.name }}{% endfor %}</span>
                        <hr>
                    </header>

                </article>
            </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock %}

