{% extends 'base_1.html' %}
{% block url_lab %}
    <a href="{% url 'login' %}">登录</a>
{% endblock %}
{% block content %}
    <div class="container about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact">
                    <h2>登录</h2>
                    <form action="{% url 'login' %}" method="POST" accept-charset="utf-8" class="contact-form">
                        {% if errors %}
                            <p style="color: red" c>{{ errors }}</p>
                        {% endif %}
                        <input type="text" name="username" id="contact-name" placeholder="用户名"
                               class="form-control input-lg">
                        <input type="password" name="password" id="contact-password" placeholder="密码"
                               class="form-control input-lg">
                        <div class="buttons clearfix">
                            <button type="submit" class="btn btn-xlarge btn-clean-one">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}